@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

.navbar {
    background-color: #ffc0cb;
    padding: 10px 20px; /* Ajusta el padding para el navbar */
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    width: 30px;
    height: 30px;
}

h1, h2 {
    color: #333;
}

.encabezado {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    background-color: #c0fff4;
    color: black;
    padding: 20px;
}

.centered-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    gap: 10px;
    padding: 20px;
    background-color: #c0fff4;
}

.cat-coffee {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    margin: 5px;
}

.card {
    padding: 20px;
    border: none;
}


.btn-outline-primary {
    margin-top: 10px;
}


.hidden-form {
    display: none;
}


.card.active .hidden-form {
    display: block;
}


form {
    margin-top: 20px;
}


.form-group {
    margin-bottom: 15px;
}


.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}


.form-control {
    width: 100%;
    padding: 8px;
    font-size: 16px;
}


.form-control option {
    font-size: 16px;
}



.carrito-icono {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

.carrito-icono img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}



.carrito {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
    padding: 20px;
    display: none; 
    z-index: 1000;
}

.carrito h2 {
    margin-top: 0;
}

.carrito-contenedor-cards {
    max-height: 60vh;
    overflow-y: auto;
    margin-bottom: 20px;
}

.total {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.terminar-compra {
    width: 100%;
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 1.2rem;
    cursor: pointer;
}

.terminar-compra:hover {
    background-color: #218838;
}

